---
import BaseLayout from '~/components/layout/base-layout.astro';
import { getPostsCollection } from '~/lib/mdx';

const posts = await getPostsCollection();
---

<BaseLayout>
  <h1>Post List Page</h1>
  <div class="my-4">
    {
      posts.map((post) => (
        <ul>
          <li>
            <a href={`/posts/${post.slug}`}>- {post.data.title}</a>
          </li>
        </ul>
      ))
    }
  </div>
</BaseLayout>
