@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--spacing-page-y);
  -webkit-tap-highlight-color: transparent;
}

body {
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
  background-color: var(--c-bg);
  color: var(--c-text-1);
  font-size: 1rem;
  line-height: 1.75rem;
}

main {
  padding: var(--spacing-page-y) var(--spacing-page-x);
  max-width: var(--spacing-page-w);
  width: 100%;
  min-height: calc(100vh - var(--spacing-page-y) * 2 - 20px);
  margin: 0 auto;
}

footer {
  padding: var(--spacing-page-y) var(--spacing-page-x);
  max-width: var(--spacing-page-w);
  width: 100%;
  margin: 0 auto;
}

::selection {
  background-color: var(--c-gray-soft);
  box-shadow: none;
}

.link,
.mdx a:not(.anchor) {
  position: relative;
  display: inline;
  padding: 2px 1px;
  margin: -2px -1px;
  word-break: break-all;
  text-decoration: underline;
  text-decoration-color: var(--c-gray-1);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: all 200ms ease-in-out;
}
.link::before,
.mdx a:not(.anchor)::before {
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: -4px;
  right: -4px;
  border-radius: 4px;
  transition: background-color 200ms ease-in-out;
  content: '';
}
.link:hover,
.mdx a:not(.anchor):hover {
  text-decoration-color: transparent;
}
.link:hover::before,
.mdx a:not(.anchor):hover::before {
  background-color: var(--c-gray-soft);
}

.link.external::after {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: '';
  background: var(--ico-link);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---- scrollbar ---- */
* {
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--c-gray-2);
  --scrollbar-color-active: var(--c-gray-3);
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: thin; /* for firefox */
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
  min-width: var(--scrollbar-size-min);
  min-height: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: var(--scrollbar-size);

  &:hover {
    background-color: var(--scrollbar-color-active);
  }
  &:active {
    background-color: var(--scrollbar-color-active);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

/* ---- blur layer ---- */
.blur-layer {
  --h: min(96px, var(--spacing-page-y));
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100% + var(--spacing-page-x) * 2);
  height: var(--h);
  margin-left: calc(-1 * var(--spacing-page-x));
  margin-bottom: calc(-1 * var(--h));
  pointer-events: none;
  user-select: none;
  backdrop-filter: blur(5px);
  opacity: 0.95;
  mask-image: linear-gradient(to bottom, #000000 25%, transparent);
}

.blur-layer:after {
  position: absolute;
  inset: 0;
  content: '';
  background: linear-gradient(to bottom, var(--c-bg), transparent);
}
