<footer transition:persist class="flex items-center text-sm text-text-2">
  <div>
    Created with <a
      class="link external text-text-1"
      href="https://github.com/bepyan/whitespace-blog-template"
      target="_blank">whitespace-blog-template</a
    >
    © 2024
  </div>
  <nav class="ml-auto flex gap-2" aria-label="More on this site">
    <a
      class="link whitespace-nowrap"
      href="https://github.com/bepyan/whitespace-blog-template"
      target="_blank"
    >
      Source Code
    </a>
  </nav>
</footer>
