---
import ThemeToggle from '~/components/ui/theme-toggle.astro';
---

<div class="mb-10 flex items-center gap-2 font-serif font-semibold">
  <a class="link" href="/">home</a>
  <a class="link" href="/posts">posts</a>
  <ThemeToggle class="ml-auto" />
</div>
