---
import ThemeToggle from '~/components/ui/theme-toggle.astro';
---

<div class="mb-10 flex items-center gap-2 font-serif font-semibold">
  <a href="/">/home</a>
  <a href="/posts">/posts</a>
  <ThemeToggle class="ml-auto" />
</div>
