---
import '~/styles/mdx.css';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '~/components/layout/base-layout.astro';
import MediumZoomScript from '~/components/script/medium-zoom-script.astro';

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;

const { Content } = await post.render();
---

<BaseLayout>
  <div class="mb-10">
    <h1 class="font-display text-5xl font-bold">{post.data.title}</h1>
    <p class="text-text-3">{post.data.date}</p>
  </div>
  <article class="mdx">
    <Content />
  </article>
  {/* scripts */}
  <MediumZoomScript />
</BaseLayout>
