---
import '@shikijs/twoslash/style-rich.css';
import '~/styles/mdx.css';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '~/components/layout/base-layout.astro';
import MediumZoomScript from '~/components/script/medium-zoom-script.astro';
import TwoslashFloatingScript from '~/components/script/twoslash-floating-script.astro';
import CopyCodeScript from '~/components/script/copy-code-script.astro';
import PostImage from '~/components/mdx/post-image.astro';
import { getTableOfContents } from '~/lib/mdx/toc';
import BaseLeftAside from '~/components/layout/base-left-aside.astro';
import PostToc from '~/components/layout/post-toc.astro';
import { format } from 'date-fns';
import PostHeader from '~/components/layout/post-header.astro';

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;

const toc = getTableOfContents(post.body);

const { Content, remarkPluginFrontmatter } = await post.render();
---

<BaseLayout>
  <PostHeader
    class="mb-10"
    title={post.data.title}
    date={post.data.date}
    readingTime={remarkPluginFrontmatter.minutesRead}
  />
  <article class="mdx">
    <Content components={{ img: PostImage }} />
  </article>
  <div>
    {/* post footer */}
  </div>
  <BaseLeftAside>
    <PostToc {toc} />
  </BaseLeftAside>
  {/* scripts */}
  <MediumZoomScript />
  <TwoslashFloatingScript />
  <CopyCodeScript />
</BaseLayout>
