---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <div class="text-text-2 my-10">
      <span>Tags:</span>
      {tags.map((tag) => (
        <span class="ml-2 inline-block">
          <a class="link text-text-1" href={`/tags/${tag}`}>
            {tag}
          </a>
        </span>
      ))}
    </div>
  )
}
