---
import BaseLayout from '~/components/layout/base-layout.astro';
import PostYearList from '~/components/ui/post-year-list.astro';
import { getPostsCollection, getTags } from '~/lib/mdx/post';

export async function getStaticPaths() {
  const posts = await getPostsCollection();
  const tags = getTags(posts);

  return tags.map((tag) => {
    return {
      params: { tag },
      props: {
        posts,
        otherTags: tags.filter((t) => t !== tag),
      },
    };
  });
}

const { tag } = Astro.params;
const { posts, otherTags } = Astro.props;
---

<BaseLayout>
  <h1 class="font-display text-5xl font-bold">Tags: {tag}</h1>

  <PostYearList {posts} />

  {
    otherTags.length > 0 && (
      <div class="text-text-2 my-10">
        <p>See more other tags:</p>
        {otherTags.map((tag) => (
          <span class="mr-2 inline-block">
            <a class="link text-text-1" href={`/tags/${tag}`}>
              {tag}
            </a>
          </span>
        ))}
      </div>
    )
  }
</BaseLayout>
