---
import BaseLayout from '~/components/layout/base-layout.astro';
import { getPostsCollection, getTags } from '~/lib/mdx/post';

const postList = await getPostsCollection();
const tags = getTags(postList);
const tagData = tags.map((tag) => {
  return {
    tag,
    posts: postList.filter((post) => post.data.tags?.includes(tag)),
  };
});
---

<BaseLayout>
  <h1 class="font-display text-5xl font-bold">Tags</h1>
  <div class="my-10 text-text-2">
    {
      tagData.map(({ tag, posts }) => (
        <div class="my-16">
          <h2 id={tag}>{tag}</h2>
          <ul class="">
            {posts.map((post) => (
              <li>
                <a class="link text-text-1" href={`/posts/${post.slug}`}>
                  {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</BaseLayout>
